<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Broker</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/metro.min.css" rel="stylesheet"  type="text/css"/>
    <link href="~/Content/metro-icons.min.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color: #626262; width:100%;">
    @if (!ViewBag.Title.Contains("Login"))
    {
        <div style="background-color: #9e9e9e; width: 100%; height:4%; float:left;">
            <ul class="breadcrumbs2" style="height:100%;">
                <li><a href='@Url.Action("Index", "Main")'><span class="icon mif-home" /> Project Broker</a></li>
                <li><a href="javascript:OpenCharm()">Find</a></li>
                <li><a href='@Url.Action("Index", "Admin")'>Admin</a></li>
                <li><a href='@Url.Action("Index", "Settings")'>Settings</a></li>
            </ul>
        </div>
    }

    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/metro.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>