@model ProjectBroker.Models.ViewModels.ProjectDetailsVM
@{
    ViewBag.Title = "Project";
}

<div class="panel" style="background-color: #343434;">
    <div class="heading">
        <span class="title">Project</span><a href='@Url.Action("Index","Main")' style="float:right; text-decoration: none; color: white; margin-right: 10px;"><span class="mif-cross"></span></a> <!--Exit button-->
    </div>
    <div class="content">
        <div class="grid">
            <div class="row cells7">
                @*Project-Image*@
                <div class="cell">
                    <img src="notvalid.image" style="height:200px; width:200px;" />
                </div>
                @*Project-Details*@
                <div class="cell colspan6">
                    <div>
                        <h3>@Model.Project.pr_name</h3>
                        <p>@Model.Project.pr_desc</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell colspan12">
                    @*A List of all team-members*@
                    <div class="panel">
                        <div class="heading" style="background-color: #343434;">
                            <span class="title">Team Members</span>
                        </div>
                            <div class="content">
    @if (Model.TeamMembers == null)
    {
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-user"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                    <input type="hidden" value="Max Mustermann" />
                </div>
            </div>
        </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" onclick="" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tile">
                                    <div class="tile-content slide-up">
                                        <div class="slide">
                                            <span class="mif-user"></span>
                                        </div>
                                        <div class="slide-over op-crimson text-small padding10">
                                            <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;">Max Mustermann</a>
                                            <input type="hidden" value="Max Mustermann" />
                                        </div>
                                    </div>
                                </div>
    }
    else
    {
        foreach (var item in Model.TeamMembers)
        {
            <div class="tile">
                <div class="tile-content slide-up">
                    <div class="slide">
                        <span class="mif-user"></span>
                    </div>
                    <div class="slide-over op-crimson text-small padding10">
                        <a href="#openModal" style="font-weight: bold; color: black; text-decoration: none;"
                           class="custom-data-fields" data-c-email="@item.p_person.p_email" data-c-phone="@item.p_person.p_phonenr" onclick="triggerModalChange(@item.p_person.p_fname, @item.p_person.p_lname, @item.p_person.p_phonenr, @item.p_person.p_email)">@item.p_person.p_fname @item.p_person.p_lname</a>
                        <input type="hidden" />
                    </div>
                </div>
            </div>
        }

    }

                            </div>
                        </div>
                    </div>
                </div>
            <div class="row cells3">
                @*Project-Management Environment*@
                <div class="cell">
                    <div class="panel">
                        <div class="header" style="background-color: #343434; color: white;">
                            <div class="title">RedMine</div>
                        </div>
                        <div class="content">
                            Content ...
                        </div>
                    </div>
                </div>
                @*Project-Hosting Environment*@
                <div class="cell">
                    <div class="panel">
                        <div class="header" style="background-color: #343434; color: white;">
                            <div class="title">GitLab</div>
                        </div>
                        <div class="content">
                            Content ...
                        </div>
                    </div>
                </div>
                @*Teacher Details*@
                <div class="cell">
                    <div class="panel">
                        <div class="header" style="background-color: #343434; color: white;">
                            Teacher
                        </div>
                        <div class="content">
                            <div class="grid">
                                <div class="row cells3">
                                    <div class="cell">
                                        <img style="height: 150px; width: 150px;" />
                                    </div>
                                    <div class="cell colspan2">
                                        <p style="margin-top: 10px;">Name: @Model.Teacher.p_person.p_fname @Model.Teacher.p_person.p_lname</p>
                                        <p style="margin-top: 10px;">E-Mail: @Model.Teacher.p_person.p_email</p>
                                        <p style="margin-top: 10px;">Phone: @Model.Teacher.p_person.p_phonenr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

@*User Details Box*@
<div id="openModal" class="modalDialog">
    <style type="text/css" scoped>
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity: 0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }

            .modalDialog:target {
                opacity: 1;
                pointer-events: auto;
            }

            .modalDialog > div {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #626262;
                color: white;
            }

        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            .close:hover {
                background: #00d9ff;
            }
    </style>
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2 id="modalName">Max Mustermann</h2>
        <img style="height: 200px; width: 200px;"/> <!--Profile pic-->
        <p style="margin-top: 20px;" id="modalEmail">E-Mail: @*EMail*@</p>
        <p style="margin-top: 20px;"id="modalPhone" >Phone: @*PhoneNr*@</p>
    </div>
</div>

@section Scripts {
    <script>
        function triggerModalChange(fname, lname, phone, email) {
            $("#modalName").htlm(fname+" "+lname);
            $("#modalEmail").htlm("E-Mail: "+email);
            $("#modalPhone").htlm("Phone: "+phone);
        }
    </script>    
}